.authContainer
{
    background-image: url("/knull.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgBlur
{
    backdrop-filter: blur(10px);
}
